<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        table, td { border: solid;}
</style>
</head>
<body>
<div class="datagrid">

<table>
    <tr th:each="mapRow : ${map}">
        <td th:each ="cell : ${mapRow}"  >


            <div th:switch="${cell}">
                <p th:case="'@'"> <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Illustrerad_Verldshistoria_band_I_Ill_107.jpg" width="50" height="50" /> </p>
                <p th:case="'O'"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnG7JNUUJeMwSiCWD788F6u6dX8TkC_yfJQrRTz2aYrUE3QCtH" width="50" height="50" /></p>
                <p th:case="'M'"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR2NqnHjLygBvDWc-_lGESBS-hQOMAmIZRg-5KlUG80WKwvSRo-ZQ" width="50" height="50" /></p>
            </div>
        </td>
    </tr>
</table>
    </div>
<p> <a href='goRight'> Go right. </a> </p>
<p> <a href='goLeft'> Go left. </a> </p>
<p> <a href='goUp'> Go up. </a> </p>
<p> <a href='goDown'> Go down. </a> </p>
</body>
</html>