<html>
<head>
    <style>

        body {
            background-color: #dddddd;
        }

        div {
            background-color: #cccccc;
        }

        p {
            text-align: center;
        }

    </style>
</head>
<body>
<p>
<form action="/attack">

    Choose your philosopher!
    <select name="philosopher1">
        <option>Aristotle</option>
        <option>Plato</option>
        <option>Socrates</option>
        <option>Spinoza</option>
        <option>Descartes</option>
    </select>
    Choose the form of attack!
    <select name="attack">
        <option>philosophise</option>
        <option>rhetorical attack</option>
        <option>ad personam</option>
        <option>physical attack</option>
        <option>special</option>
    </select>

    <select name="philosopher2" id="philosopher2" style="display:none;">
        <option value="Plato">Plato</option>
        <option value="Aristotle">Aristotle</option>
        <option value="Socrates">Socrates</option>
        <!--<option value="Descartes">Descartes</option>-->
        <!--<option value="Spinoza">Spinoza</option>-->
    </select>
    <script type="text/javascript">
        function myFunction() {
            var select = document.getElementById('philosopher2');
            var items = select.getElementsByTagName('option');
            var index = Math.floor(Math.random() * items.length);

            select.selectedIndex = index;
        }
    </script>
    <input type="submit" value="Fight!!!" onclick="myFunction()"/>

</form>
</p>
</body>
</html>