<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body {
            background-color: #dddddd;
        }

        div {
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<form action="/map">
    Nick: <input type= "text" name="userNick"/>

    Philosopher <select name="userPhilosopher">
    <option>Aristotle</option>
    <option>Plato</option>
    <option>Socrates</option>
    <option>Spinoza</option>
    <option>Descartes</option>
</select>
    <input type="submit" value="GO!!!"/>


</form>
</body>
</html>